@import url('https://fonts.googleapis.com/css2?family=Kolker+Brush&family=Lobster&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
}


/* --------------------------------------Scroll----------------------------------------- */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #dddddd;
}

::-webkit-scrollbar-thumb {
    background: #D67E35;
}


/* ---------------------------------------NAV--------------------------------- */



nav {
    margin: 0 auto;
    width: 1330px;
}

.container_main {
    margin: 0px 100px;
    
}


.header {
    width: 100%;
    height: 100vh;
 
}

.header_logo img {
    width:258px;
    margin-left: 130px;
    margin-top: -35px;
}

.header_line {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -150px;
    margin-left: 480px;
  
}

.nav_item {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: 700px;
    font-size: 20px;
    margin-right: 25px;
    transition: color 0.3s linear;
    padding: 0px 20px;
    
}
.nav_item:hover {
    color: red;
}


.header_1 {
    font-family: 'Island Moments', cursive;
}

.header_title {
    color: #d67e35;
    font-size: 70px;
    font-weight: 400;
    text-align: center;
    position: absolute;
    left: 100px;
    margin-top: 300px;
    margin-left: 90px;
}



/* -----------------------------------------------main--------------------------------------------------- */

main {
    margin: 0 auto;
    width: 1330px;
}

.cartsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.wrap {
    display: flex;
    align-items: center;   
}

.informBlock {
    width: 349px;
    height: 250px;
    background: #ffffff;
    padding: 30px;
    box-sizing: border-box;
    transition: .4s;
    margin: 0px 31px;
    margin-top: -80px;
    box-shadow: -1px 6px 15px 4px rgba(10, 11, 11, 0.36);
    cursor: pointer; 
}

span {
    color: #D67E35;
}

.mainText {
    color: black;
    margin: 55px 0 0 0;
    font-size: 20px;
    text-align: center;
}

.underlineBlock {
    height: 0;
    width: 35px;
    border-top: 2px solid white;
    margin-top: 10px;
    transition: .4s;
}

.secondText {
    color:  #222121;
    font-size: 16px;
    margin-top: 15px;
    text-align: center;
}

.informBlock:hover {
    background: #D67E35;
    
}

.informBlock:hover .underlineBlock{
    width: 280px;
    border-color: black;
    transition: width 2s;
}

.secondText:hover {
    color: black;
}



/* -------------------------------------------------history------------------------------------------------ */


.history {
    margin-top: 160px;
    margin-left: 0px;

}
.history_title {
    font-family: 'Montserrat', sans-serif;
    font-size: 54px;
    width: 400;
    width: 444px;
    text-align: center;
    margin-top: 30px;
    margin-left: 45px;

}

.history_title span {
    color: #D67E35;

}

.history_desc {
    color: #222121;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    width: 444px;
    text-align: center;
    margin-left: 45px;
}

.history_number {
    display: flex;
    width: 444px;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    margin-left: 70px;
    margin-top: 40px;
}

.number_item {
    margin-right: 60px;
    text-align: center;
    font-size: 30px;
    color: #BC9060;
}

.number_item span {
    display: block;
    color: #000;
    
}

.history_images {
    position: relative;
}

.history_hoider {
    display: flex;
    
}



.images_1 {
    position: absolute;
    z-index: 999;
    top: 54px;
    left: 70px;
    width: 233px;
    height: 300px;
}


.images_2 {
    position: absolute;
    z-index: 0;
    top: -16px;
    left: 270px; 
    width: 255px;
    height: 430px;
}

.images_3 {
    position: absolute;
    z-index: 999;
    top: 170px;
    left: 355px;
    width: 255px;
    height: 300px;
 
}



/* --------------------------------------background url------------------------------------ */


.fon_img {
    position: relative;
    top: 200px;
    background: url(./img/interier-restorana.jpg) center / cover fixed;
    width: 100%;
    height: 750px;   
    margin-bottom: 100px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
   
}



.fon_img h1 {
    font-size: 40px;
}

.fon_img p {
    font-size: 16px;
}

.img_text {
    padding-top: 260px;
    padding-left: 300px;
    padding-right: 300px;
}




/* ---------------------------------------------------img--------------------------------  */

.section_container {
    margin-top: 500px;
    margin-bottom: 200px;
    margin-left: 50px;
    font-family: 'Montserrat', sans-serif;
   
}

.section_text h2 {
    font-size: 40px;
    padding-bottom: 10px;
}

.section_text p {
    font-size: 16px;   
    padding-right:  350px; 
}

.section_text {
    margin-left: 580px;
}

.img_1 {
    position: relative;
    left: 248px;
    bottom: 70px;
    width: 306px;
    height: 459px;
    max-width: 100%;
}

.img_2 {
    position: relative;
    right: 150px;
    bottom: 550px;
    width: 394px;
    height: 591px;
    max-width: 100%;
}

.img_3 {
    position: relative;
    top: 50px;
    right: 133px;
    width: 547px;
    height: 821px;
    max-width: 100%;
}


/* ------------------------------------------footer------------------------ */



footer{
    width: 100%;
    padding: 30px 0px;
    background: #eeeeee;
    font-family: 'Montserrat', sans-serif;
}

footer .footer_main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-left: 200px;
}

footer .footer_main .footer_tag{
    text-align: center;
}

footer .footer_main .footer_tag h2{
    color: #000;
    margin-bottom: 25px;
    font-size: 30px;
}

footer .footer_main .footer_tag p{
    margin: 10px 0;
    
}

footer .footer_main .footer_tag i{
    margin: 0 5px;
    cursor: pointer;
}

footer .footer_main .footer_tag i:hover{
    color: #fac031;
}

footer .end{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

footer .end span{
    color: #fac031;
    margin-left: 10px;
}

.footer_tag a {
    text-decoration: none;
    color: #000;
}







/* -----------------------------------------АДАПТИРОВАНИЕ----------------------------  */



@media only screen and (max-width: 2560px) {

    .header_title {
        position: absolute;
        left: 618px;
        margin-top: 489px;
    }

    .nav_item {
        font-size: 24px;
    }

    footer {
        padding-left: 140px;
    }

    footer .end {
        padding-right: 270px;
        font-size: 20px;
    }

    footer .footer_main .footer_tag p {
        font-size: 22px;
    }




}

@media only screen and (max-width: 1440px) {

    footer {
        padding-left: 0px;
    }

    footer .end {
        font-size: 15px;
        padding-right: 100px;
    }

    footer .footer_main .footer_tag p {
        font-size: 15px;
    }

    .header_title {
        position: absolute;
        left: 100px;
        margin-top: 310px;
    }

    .nav_item {
        font-size: 20px;
    }


}

@media only screen and (max-width: 1024px) {

    footer {
        width: 130%;
    }

    .header_title {
        position: absolute;
        left: 62px;
        margin-top: 260px;
    }
}

@media only screen and (max-width: 768px) {

    footer {
        width: 173%;
    }

    .header_title {
        margin-top: 260px;
    }

    .header_title {
        position: absolute;
        left: 54px;
    }
}

@media only screen and (max-width: 425px) {

    footer {
        width: 312%;
    }

    .header_title {
        margin-top: 224px;
    }
}

@media only screen and (max-width: 375px) {

    footer {
        width: 353%;
    }

    .header_title {
        font-size: 52px;
    }

    .header_title {
        margin-top: 237px;
    }
}

@media only screen and (max-width: 320px) {

    footer {
        width: 400%;
    }

    .header_title {
        font-size: 41px;
    }
}



    


    


    


    



        
    


